<ul class="nav navbar-nav navbar-right" id="msgMenu">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"></span> <span id="msgLabel">Message</span> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">          
            <li class="divider hidden"></li>
            <li><a href="#">查看全部 <span class="badge pull-right"><span id="unRead">0</span>条未读</span></a></li>
        </ul>
    </li>
</ul>