<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <system.net>
    <mailSettings>

      <!-- 开启 SSL 会报错 -->
      <!--<smtp from="99251725@qq.com">
        <network host="smtp.qq.com"
                 port="25"
                 enableSsl="false"
                 defaultCredentials="false"
                 userName="99251725@qq.com" password="xxx"
                 />
      </smtp>-->

      <smtp from="rg@56cargo.com">
        <network host="smtp.exmail.qq.com"
                  enableSsl="true"
                  defaultCredentials="false"
                  userName="rg@56cargo.com"
                  password="Qq1122"/>
      </smtp>


      <!--163 邮箱启用 Ssl 会报错，不启用 Ssl 可正常使用-->
      <!--<smtp from="xxx@163.com">
        <network host="smtp.163.com"
                 port="25"
                 enableSsl="false"
                 defaultCredentials="false"
                 userName="xxx@163.com"
                 password="xxx"/>
      </smtp>-->

    </mailSettings>
  </system.net>



  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>