<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
  <serviceActivations>
    <add factory="XXY.Mail.WcfServiceFactory" service="XXY.Mail.Service.Template" relativeAddress="Template.svc" />
    <add factory="XXY.Mail.WcfServiceFactory" service="XXY.Mail.Service.MailQueue" relativeAddress="MailQueue.svc" />
  </serviceActivations>
</serviceHostingEnvironment>
