<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
  <serviceActivations>
    <add factory="XXY.MessageCenter.WcfServiceFactory" service="XXY.MessageCenter.ServiceImpl.TemplateServiceImpl" relativeAddress="Template.svc" />
    <!--<add factory="XXY.MessageCenter.WcfServiceFactory" service="XXY.Mail.Service.MailQueue" relativeAddress="MailQueue.svc" />-->
  </serviceActivations>
</serviceHostingEnvironment>
