<services>
  
  <!--<service name="XXY.BK.ServiceImpl.BaseDataService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.BK.IServiceBiz.IBaseDataService" />
  </service>
  
  <service name="XXY.BK.ServiceImpl.FreightPriceService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.BK.IServiceBiz.IFreightPriceService" />
  </service>

  <service name="XXY.BK.ServiceImpl.ScheduleService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.BK.IServiceBiz.IScheduleService" />
  </service>

  <service name="XXY.BK.ServiceImpl.RouteService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.BK.IServiceBiz.IRouteService" />
  </service>-->
  
</services>